@import "https://fonts.googleapis.com/css?family=Lato";
body {
	font-family: 'Lato';}
H1 {
	Color: MidnightBlue;
	margin-left:50px;
	font-weight:bold;}
div { font-size:18px;
	margin-top: 30px;}
.verse {color: blue;
		margin-left:150px;
	
}
.refrain {color:orange;
		margin-left:200px;}
.yt {text-align: center;
color:#00008B;
font-size:24px;}
a:link {
color: #00008B;}
a:hover {
color: red;}
 a:active  {
 color: yellow;}
 /* test */
 /*test2 */
